name: Build CI

on:
  push:
    branches: [ "master" ]
    paths: &paths
      - "Makefile"
      - "config.mk"
      - "src/**"
      - ".github/**"

  pull_request:
    branches: [ "master" ]
    paths: *paths

jobs:
#  build-man:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#
#      - name: Install scdoc
#        run: sudo apt-get install -y scdoc
#
#      - name: Generate man pages
#        run: make -C man

  build-glibc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install build dependencies
        run: sudo apt-get install -y libarchive-dev

      - name: Build (glibc)
        run: make -C src

      - name: Build with enabled ACL and xattr
        run: make -C src ACL=y XATTR=y clean all

  build-musl:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
      - uses: actions/checkout@v3

      - name: Install build dependencies
        run: apk add build-base g++ make libarchive-dev

      - name: Build (musl)
        run: make -C src

      - name: Build with enabled ACL and xattr
        run: make -C src ACL=y XATTR=y clean all

